body{
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding-top: 40px;
    transition: background-color 0.3s;
}
h1{
    margin-bottom: 30px;
    color: #333;
}
.box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.box{
    width: 100px;
    height: 100px;
    color:black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 14px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
}
.red{
    background-color: red;

}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: goldenrod;
}
.input-section{
    margin-top: 20px;
}
input{
    padding: 10px;
    width: 200px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}